<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>用户注册</title>
</head>
<body>

<div align="center" style="border:1px solid red">
    <form action="">
        请输入用户名:<br>
        <input type="text" name="loginName" value="">
        （不超过20个字符）
        <br>
        <br>
        请输入密码:<br>
        <input type="text" name="password" value="">
        （先显示后边再给你掩盖）
        <br>
        <br>
        请设置个昵称:<br>
        <input type="text" name="nickName" value="">
        （不超过32个字符）
        <br>
        <br>
        请输入手机号:<br>
        <input type="text" name="mobileNo" value="">
        （不超过11个字符）
        <br>
        <br>
        <input type="submit" value="提交 " style="border:1px solid green">
        <br>
        <br>
    </form>
</div>
</body>


</html>